.main{
    display:flex;  
}
input[type='file'],canvas{
  margin: 10px;
  background-color:#e2e2e2;
}

input[type='text']
{
  box-shadow:0px 0px 5px 5px #e2e2e2;
}

canvas
{
width:500px;
height:400px;
cursor:crosshair;
box-shadow:0px 0px 5px 5px #e2e2e2;
}
.data{
  margin: 25px;
  display: flex;
  flex-direction: column;
}
.data>*{
  margin: 10px;
}
.hideData
{
  display:none;
}
.displayData
{
  display:block;
}
.colorval
{
  width:50px;
  height:50px;
  margin-left:30px;
  border:1px solid black;
  border-radius: 5px;
  box-shadow:0px 0px 5px 5px #e2e2e2;
}

.displayCol
{ 
  display:block;
  background-color: var(--bgcolorval);
}
body {
  --bgcolorval: rgba(0,0,0,0)
}
@media only screen and (max-width :400px){
  .main{
    flex-direction: column;
  }
}
